@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-light: rgba(255, 255, 255, 1);
  --c-light-500: rgba(245, 245, 245, 1);
  --c-tomato: rgba(223, 105, 81, 1);
  --c-blue-900: rgba(24, 30, 75, 1);
  --c-orange: rgba(241, 165, 1, 1);
  --c-orange-300: rgba(240, 187, 31, 1);
  --c-slate: rgba(104, 109, 119, 1);
  --c-slate-dark: rgba(33, 40, 50, 1);
  --c-steel-blue: rgba(94, 98, 130, 1);
  --c-cyan-900: rgba(0, 99, 128, 1);
  --c-dark: rgba(8, 8, 9, 1);
  --c-gray: rgba(132, 130, 154, 1);
  --c-indigo: rgba(138, 121, 223, 1);
  --c-indigo-300: rgba(138, 121, 223, 0.3);
  --c-lavender: rgba(223, 215, 249, 0.2);

  --shadow-tomato: 0px 15px 30px rgba(223, 105, 81, 0.3);
  --shadow-orange: 0px 15px 30px rgba(241, 165, 1, 0.15);
  --shadow-indigo: 0px 5px 15px rgba(138, 121, 223, 0.3);

  --gradient-light-right: linear-gradient(to right, transparent, white);
  --gradient-light-left: linear-gradient(to right, white, transparent);

  --gradient-orange: linear-gradient(
    180deg,
    rgb(255, 147, 107) 0%,
    rgb(255, 122, 102) 100%
  );
  --gradient-indigo: linear-gradient(
    201.65deg,
    rgb(116, 125, 239) 10.27%,
    rgb(94, 59, 225) 100%
  );

  --gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    #b8d2f1 0deg,
    #f289aa 60deg,
    #c68bf0 106.09deg,
    #d164da 153.75deg,
    #c963e8 221.25deg,
    #bfc2e8 258.75deg,
    #ffc999 288.75deg,
    #d0d8c9 315deg,
    #bad0f1 334.13deg,
    #ced8cb 358.97deg,
    rgba(255, 255, 255, 0) 360deg
  );
}

.animated-box {
  transform: translateX(-50%);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
}

.animated-box.show {
  transform: translateX(0);
  opacity: 1;
}

.disabled {
  opacity: 0.3;
  cursor: auto;
}

@media (max-width: 1024px) {
  .collapsed {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.5s;
  }

  .collapsed-content {
    min-height: 0;
    visibility: hidden;
    transition: visibility 0.5s;
  }

  .collapsed.active {
    grid-template-rows: 1fr;
  }

  .collapsed.active .collapsed-content {
    visibility: visible;
  }
}
